$break-small: 719px;

body {
  font-family: OpenSans;
  color: #000000;

  p {
    font-family: OpenSans;
  }

  .lightText {
    color: #ffffff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: PT Serif;
    line-height: 43px;
    color: #1e1c21;
  }

  a {
    color: #00204a;

    &:hover,
    &:active {
      color: #00204a;
    }
  }

  header {
    background-color: #fdfaff;
    display: block;
    padding: 39px 0;

    .logo {
      img {
        width: 151px;
        height: 44px;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 160px;
          height: 47px;
          font-style: light;
          font-size: 14px;
          line-height: 47px;
          display: block;
          background: #00204a;
          border-radius: 4px;
          text-align: center;
          color: #ffffff;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
        }

        a:hover {
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
  }

  .landing {
    padding-bottom: 80px;
  }

  .video {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 56.25%;
  }

  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .subtitle {
    color: #00204a;
  }

  .page-header {
    text-align: left;
    padding: 100px 0 100px 0;
    background-image: linear-gradient(to right, #00204a, rgb(0, 69, 125));
    // background-color: #00204a;
    // border-bottom-left-radius: 30% 20%;
    // border-bottom-right-radius: 90% 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1,
      h2 {
        padding-top: 0;
      }
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #ffffff;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #ffffff;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      margin-top: 61px;
      max-width: 100%;
    }

    &.home {
      padding-bottom: 30px;
    }
  }

  .features {
    .feature__item {
      padding: 50px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .row_card {
        background: white;
        z-index: -2;
        padding-right: 20px;
        border-radius: 35px;
        box-shadow: rgba(156, 133, 133, 0.11) 0px 6px 6px 0px;
      }

      .feature__content {
        margin-top: -15%;
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #1e1c21;
        }

        p {
          font-size: 18px;
          line-height: 26px;
        }

        @media screen and (max-width: $break-small) {
          margin-top: 0;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
        }

        .feature_blob {
          position: absolute;
          z-index: -1;
          margin-top: -60px;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: #00204a;
    color: #ffffff;
    padding: 65px 0;
    // border-radius: 40px 40px 0px 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    input[type="email"] {
      width: 100%;
      border-radius: 4px 0px 0px 4px;
      height: 54px;
      padding: 10px 20px;
      margin: 8px 0;
      font-size: 18px;
      box-sizing: border-box;

      @media screen and (max-width: $break-small) {
        border-radius: 4%;
      }
    }

    // input[type="email"]:focus {
    //   border: 3px solid #555;
    // }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      button {
        display: flex;
        border: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-color: #28c101;
        border-radius: 0px 4px 4px 0px;
        width: 184px;
        height: 54px;
        font-weight: bold;
        flex-direction: column;
        color: #ffffff;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
          border-radius: 0;
        }

        &:active {
        }
      }

      button:hover {
        background-color: #1b6d06;
        border-right-style: inset;
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: OpenSans;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        text-align: center;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1e1c21;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  footer {
    padding: 100px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
        font-size: 12px;
        color: #898989;
      }

      .about {
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: OpenSans;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover,
              &:active {
                color: #00204a;
              }
            }
          }
        }

        .links__special {
          background-color: #00204a;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;
          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }

  .card {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 6px 0px;
    border-radius: 5%;
    overflow: hidden;
    background: rgb(255, 255, 255);
  }

  .cardCircle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 50%;
    margin-left: -70px;
    width: 140px !important;
    height: 140px;
    background: white;
    box-shadow: rgba(156, 133, 133, 0.11) 0px 6px 6px 0px;
    border-radius: 50%;
  }

  .cardImage {
    margin: auto;
    width: 70px !important;
    height: 70px;
  }

  .title {
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .desc {
    text-align: center;
    color: #787878;
    padding-bottom: 40px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
